<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visble-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Servicesyves cote</h2>
            <hr class="star-primary">
            <%= image_tag 'portfolio/services.jpg', :class => "img-responsive img-centered", :alt => "" %>
            <p>Ruby on Rails based project for e-commerce / Shopping cart. It was built using spree CMS.</p>
            <ul class="list-inline item-details">
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development, Ruby on Rails, Spree, Heroku, Postgres</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Tanzeel</h2>
            <hr class="star-primary">
            <%= image_tag 'portfolio/Tanzeel.png', :class => "img-responsive img-centered", :alt => "" %>

            <p>Tanzeel online learning management system for students, teachers and admins</p>
            <ul class="list-inline item-details">
              <li>Date:
                <strong><a href="http://startbootstrap.com">June 2014</a>
                </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development, Sinatra, Heroku, Postgres, Rack, Amazon</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>The Ongaku</h2>
            <hr class="star-primary">
            <%= image_tag 'portfolio/ongaku_1.png', :class => "img-responsive img-centered", :alt => "" %>

            <p>The Ongaku, An ultimate resource for video games, news and articles</p>
            <ul class="list-inline item-details">
              <li>Date:
                <strong><a href="http://startbootstrap.com">Aug 2014</a>
                </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development, Ruby on Rails, Postgres, Amazon, Facebook connect, Amazon/Paypal</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>TaskFish</h2>
            <hr class="star-primary">
            <%= image_tag 'portfolio/taskfish_mob.jpg', :class => "img-responsive img-centered", :alt => "" %>

            <p>Create events, invite friends, post pictures, comment and like. TaskFish iphone application developed using phonegap framework for ultimate social experience.</p>
            <ul class="list-inline item-details">

              <li>Date:
                <strong><a href="http://startbootstrap.com">Jan 2014</a>
                </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Mobile Development, Phonegap, rest api, mongo DB, mongomapper, grape api, restful api, elasticsearch</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>TestStrap</h2>
            <hr class="star-primary">
            <%= image_tag 'portfolio/Teststrap.png', :class => "img-responsive img-centered", :alt => "" %>

            <p>Yet another social media site</p>
            <ul class="list-inline item-details">
              <li>Date:
                <strong><a href="http://startbootstrap.com">March 2014</a>
                </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Ruby on Rails 4, rest, amazon, heroku, postgres</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>TaskFish</h2>
            <hr class="star-primary">
            <%= image_tag 'portfolio/taskfish_web.png', :class => "img-responsive img-centered", :alt => "" %>

            <p>Website interface for TaskFish social mobile application </p>
            <ul class="list-inline item-details">
              <li>Date:
                <strong><a href="http://startbootstrap.com">February 2014</a>
                </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development, rails, mongodb, mongomapper, grape, restful</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>